body {
  /*background-color: #e73d3d;  */
}
nav {
  background-color: none;
}
.header {
  background-image: url("../imgs/html5_wallpaper_transparency.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.if-img {
  margin-top: 1%;
  display: inline;
  float: left;
}
.navbar-nav {
  margin-top: 1%;
  margin-left: 1%;
}
.btn {
  border-radius: 2px;
}
.btn-principal {
  color: #FFF;
  background-color: #e93d3d;
}
.nav-a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  -webkit-transition: color 550ms ease-in;
  -moz-transition: color 550ms ease-in;
  -ms-transition: color 550ms ease-in;
  -o-transition: color 550ms ease-in;
  transition: color 550ms ease-in;
}
.nav-a:hover {
  color: red;
}
.navbar {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  border: none;
  padding: 1%;
  color: #FFF;
  
}
.navbar-toggle {
  margin-top: 30px;
}
.wrap-all {
  margin-left: 15%;
}
.intro-text {
  margin-top: 10%;
}
.btns {
  display: inline;
  float: right;
  margin-right: 10%;
  margin-top: 15%;
}
#portfolio{
  background-color: #C0D1D8;
}
.portfolio{
  
  
}
.portfolio-item{
  background-color: #FFF;
  margin:1%;
  padding:1%;
  
}

