body {
  /*background-color: #e73d3d;  */
}

nav {
  background-color: none;
}

.header {
  background-image: url("imgs/html5_wallpaper_transparency.png");
  background-position: center top;
}

.if-img {
  margin-top: 1%;
  display: inline;
  float: left;
}

.navbar-nav {
  margin-top: 2%;
}

.btn {
  border-radius: 2px;
}

.btn-principal {
  color: #FFF;
  background-color: #e93d3d;
}

.wrap-all {
  margin-left: 15%;
}

.intro-text {
  margin-top: 10%;
}

.btns {
  display: inline;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
}